.tag_list {
  display: flex;
  .tag_item {
    font-size: 12px;
    padding: 0 10px;
    background: #dadada;
    border-radius: 5px;
    margin-right: 10px;
  }
}

.thumb_list {
  display: flex;
  .thumb_item {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    &.selected {
      border-style: dotted;
    }
    .thumb_image {
      height: 100%;
    }
    .thumb_del_bttn {
      position: absolute;
      right: -5px;
      top: -5px;
      background: #afafaf;
      color: #fff;
      border: none;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      cursor: pointer;
    }
  }
}